services:
  node-backend:
    image: eahlberg12/gym-node-backend
    networks:
      - gym-net
    command: ["prod"]
    ports:
      - "8080:3000"
    volumes: 
      - ./node-backend-config_local:/var/www/config
  react-frontend:
    image: eahlberg12/gym-react-frontend
    networks:
      - gym-net
    ports:
      - "80:3000"

networks:
  gym-net:
    driver: bridge
